.linkList { /* stylelint-disable */

}

.button {
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  right: 30px;
  top: 110px;
  background-color: red;
  padding: 25px 30px 25px 30px;
}
.icon {
  color: white;
}
