.appBar { /* stylelint-disable */
  width: 100%;
  padding: 20px;
  background-color: #00afcc;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.iconButtton {
  .cursor: pointer;
  margin-right: 15px;
}

.icon {
  font-size: 20px;
  color: white;
}

.icon:hover {
  color: gray;
}

.linkContainer {
  font-size: 16px;
}

.heading {
  display: flex;
  flex-grow: 2;
  text-align: left;
}
